 <!-- <mat-card class="example-card cards">
  <mat-card-header>

    <mat-card-title>{{pokemon.name}}</mat-card-title>
    <mat-card-subtitle>N°{{pokemon.id}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{pokemonImg}}" alt="Pokemon">
  <mat-card-content>
    <mat-chip-listbox aria-label="Fish selection">
      <mat-chip>Type:{{pokemonTipe}}</mat-chip>
      <mat-chip color="primary" selected>Height:{{pokemon.height}}</mat-chip>

      <mat-chip>weight: {{pokemon.weight}}</mat-chip>

    </mat-chip-listbox>
  </mat-card-content>

</mat-card>
 -->


 <div id="poke_container " class="poke-container fondoo">

<div class="poke-container">
<div class="pokemon">
  <div class="img-container ">
<img src="../../../assets/images/644578_charizard-charizard-png-hd-png-download 1.png" alt="">
  </div>
  <p class="c">id:11</p>
  <div class="info">
    <h1 class="name">charizar</h1>
    <p class="number">type:fuego</p>
     <p class="number">altura:6</p>
      <p class="number">peso:67</p>
  </div>

</div>
</div>
</div>
















<!-- SOCIAL PANEL HTML -->
<!-- <div class="social-panel-container">
	<div class="social-panel">
		<p>Created with <i class="fa fa-heart"></i> by
			<a target="_blank" href="https://florin-pop.com">Florin Pop</a></p>
		<button class="close-btn"><i class="fas fa-times"></i></button>
		<h4>Get in touch on</h4>
		<ul>
			<li>
				<a href="https://twitter.com/florinpop1705" target="_blank">
					<i class="fab fa-twitter"></i>
				</a>
			</li>
			<li>
				<a href="https://linkedin.com/in/florinpop17" target="_blank">
					<i class="fab fa-linkedin"></i>
				</a>
			</li>
			<li>
				<a href="https://facebook.com/florinpop17" target="_blank">
					<i class="fab fa-facebook"></i>
				</a>
			</li>
			<li>
				<a href="https://instagram.com/florinpop17" target="_blank">
					<i class="fab fa-instagram"></i>
				</a>
			</li>
		</ul>
	</div>
</div>
<button class="floating-btn">
preguntas al dm rey
</button>

<div class="floating-text">
made in <a href="https://florin-pop.com/blog/2019/09/100-days-100-projects" target="_blank">juan manuel </a>
</div> -->
