/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;

background: linear-gradient(to left,#C0F2E9,#C0F2E9,#F6C093,#C4D5FA);

	 }

.fondoo{
  background-image: url(../../poquemon/src/assets/images/imagen_fondo.png);
height: 50%;
width: 100%;


}

